src/main/java/resources/VideoGameXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="VideoGame">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:integer" name="id"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="releaseDate"/>
                <xs:element type="xs:integer" name="reviewScore"/>
                <xs:element type="xs:string" name="rating"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="category"/>
        </xs:complexType>
    </xs:element>
</xs:schema>